body{
  margin: 0 !important;
  padding: 0 !important;
}


.main-right-part{
background-image: url('https://raw.githubusercontent.com/Trmpsanjay/Web-Devlopment-Projects/master/Entirety/images/test.png');
height: 800px;
width: auto;
/* background-color: powderblue; */
}
.brand-name{
  font-weight: bold;
  font-family: "Montserrat";
  font-size: 20px;
}

.big-heading{
  position: absolute;
  left: 10%;
  padding-top: 30%;
   margin-top: 50px
}
.sub-heading{
  color: powderblue;
}

.image-left{
  background-image: url('https://github.com/Trmpsanjay/Web-Devlopment-Projects/blob/master/Entirety/images/test2.png?raw=true');
  background-repeat: no-repeat;
  height: 200px;
  width: auto;
  margin: 0;
  padding: 0;

}
.search-bar{
   margin: 50px auto;
}
.search-bar-input{
  border-radius: 30px;
  border-color: #fff;
  width: 280px;

}

.features-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  padding-top: 80px;
}

.about-us {
  width: 40%;
  float: left;
  margin-right: 30px;
  /* padding: 7%; */
}

.why-us {
  width: 40%;
  float: right;
  margin-left: 30px;
  /* margin-top: 50px; */
  /* padding: 7%; */
}
.job-categories {
  padding: 100px;
  text-align: center;
}
.job-column {
  width: 30%;
  padding: 3% 2%;
}
.job-bg:hover{
  background-color: blue;
}
.brand-joinings{
  padding: 30px;
  margin: 50px;
}
brand-image{
margin-left: 30px;
}
.brand-note{
  line-height: 1.5;
}
.join-us{
  background-image: url('https://github.com/Trmpsanjay/Web-Devlopment-Projects/blob/master/Entirety/images/13.png?raw=true');
  background-repeat: no-repeat;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  padding: 1% 1%;
}
#testimonials {
  padding: 7% 15%;
  color: #fff;
}

.card-text-own{
  text-align: center;
  color: red;
}
.card-image-own{
  border-radius: 50%;

}
#footer{

padding: 3% 5%;
}

.lower-image{
  height: 100%
  width : 100%;
  background-image: url('https://github.com/Trmpsanjay/Web-Devlopment-Projects/blob/master/Entirety/images/141.png?raw=true');
}
.footer-subscribe{
  margin-top: 0px;
   padding-top: 300px;
   border-left-width: 150px;
   padding-left: 250px;
   width: 100%;
   height: 100%
}
.job-categories-details{
  text-align: center;
  color: #fff;
}
a:link{
  color:#fff;
}

.categories-heading{
  text-align: center;
}


.testimonial-image{
  border-radius: 25%
}
.testimonial-data{
  text-align: center;
  color: #000;
}
.rating{
  color: #D17009;
}
.testimonial-text{
  color: #000;
  padding-bottom: 20px;
}
