body{
    background-color: aquamarine;
     /* position: relative; */
}
.main-division{
  
    text-align: center;
}
form{
    width: 75%;
   margin: auto;
}
.card-header{
    background-color: red;
    color: #fff;
}
.main-content{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}